<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="min-height: 100vh">
  <div class="row" style="min-height:10vh">
    <div class="col" style="padding : 5px;display:flex;justify-content:flex-end;flex-direction: row;background-color: black">
          <a href="" style="text-decoration:none">Reset</a>
          <h6>&nbsp;&nbsp;|&nbsp;&nbsp; </h6>
          <a href="https://www.geektrust.in" style="text-decoration:none">Geek Trust Home</a>
    </div>
  </div>
  <div class="row" style="min-height:80vh">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row" style="min-height:10vh">
    <div class="col" style="padding : 5px;text-align: center;background-color: black">
      Coding Problem - 
      <a href="https://www.geektrust.in/finding-falcone" style="text-decoration:none">www.geektrust.in/finding-falcone</a>
    </div>
  </div>
</div>

